.aside-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebecf0;
    top: 44px;
    height: 100vh;
    right: 0;
    width: 330px;
}

.aside-menu-open {
    display: block;
}
.aside-close {
    display: none;
}
