.aside-menu {
    position: fixed;
    right: -300px;
    // opacity: 1;
    width: 300px;
    // height: 90%;
    background-color: indianred;
}

.aside-menu-open {
    // transform: translate(-100vw);
    right: 0;
    // opacity: 0;
}