.aside-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: rgb(246, 248, 252);
    color: #172b4d;
    right: 0;
    // margin-left: -330px;
    top: 44px;
    height: 100vh;
    width: 330px;
    padding: 8px 6px 12px 12px;
    z-index: 1;
    transition: all 0.4s;
    .board-header {
        margin: 0;
        z-index: 1;
        font-size: 13px;
        margin-left: 120px;
        justify-content: space-between;
        .header {
            display: flex;
        }
        .el-icon-close {
            display: flex;
            background-color: transparent;
            color: rgb(124, 123, 123);
            &:hover {
                color: black;
            }
        }
    }
    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 16px 0;
        &:first-of-type {
            margin: 12px;
            margin-top: 10px;
        }
    }
    .menu-content {
        margin-bottom: 5px;
        .bgc-btn {
            padding: 6px 6px 6px 12px;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            div {
                height: 20px;
                margin-right: 8px;
                width: 20px;
                display: inline-block;
                background-size: cover;
                border-radius: 3px;
            }
            // span {
            //     font-size: 1rem;
            //     color: rgb(170, 169, 169);
            //     font-family: fa-solid;
            //     &::before {
            //         content: '\f0c8';
            //     }
            // }
        }
        .archive-btn {
            padding: 6px 6px 6px 12px;
            font-size: 1rem;
            font-weight: 600;
            span {
                font-size: 1rem;
                font-family: fa-solid;
                &::before {
                    content: '\f187';
                }
            }
        }
        :hover {
            background-color: rgba(169, 169, 169, 0.22);
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .activities {
        padding: 6px 6px 6px 12px;
        display: flex;
        flex-direction: column;
        .activities-header {
            display: flex;
            // flex-direction: row;
            h3 {
                font-size: 1rem;
                margin-left: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                padding-right: 2px;
            }
            svg {
                width: 14px;
                height: 20px;
            }
        }
        &:hover {
            background-color: rgba(169, 169, 169, 0.22);
            border-radius: 3px;
            cursor: pointer;
        }
    }
    .activity-preview-container {
        display: flex;
        .curr-user-avatar {
            margin-right: 5px;
            padding: 10px;
        }
        .member-name {
            margin-right: 5px;
            // font-size: 16px;
            font-weight: 600;
        }
        .activity-details {
            margin: 1px;
            font-weight: 400;
            // background-color: blanchedalmond;
        }
        .activity-member-container {
            font-weight: 200;
            color: #5e6c84;
        }
    }
}

.aside-menu-open {
    opacity: 1;
    margin-right: 0;
}

.aside-close {
    opacity: 0;
    margin-right: -330px;
}
