.background-picker {
    display: grid;
    grid-template-columns: repeat( auto-fill, 42px);
    gap: 3.5px;
    .color-box {
        height: 35px;
        border-radius: 3px;
        background-size: cover;
        &:hover {
            filter: brightness(85%);
        }
    }
    .colorChoice {
        border: 2px solid #fff;
    }
}