.background-unsplash {
    // padding: 4px;
    input {
        margin: 0px;
        padding: 8px;
        width: 100%;
        border-radius: 3px;
        border: none;
    }
    &>div {
        margin-top: 8px;
        &::-webkit-scrollbar {
            width: 8px;
            padding: none;
        }
        &::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            background-color: rgb(224, 224, 224);
        }
        &::-webkit-scrollbar-thumb {
            background: #555;
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            // background-clip: content-box;
            border-left: none;
        }
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #555;
        // }
        &::-webkit-scrollbar-track-piece {
            background: rgba(167, 167, 167, 0);
        }
        display: grid;
        height: 45.5vh;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        overflow-y: auto;
        .unsplash-box {
            height: 80px;
            // width: 100px;
            border-radius: 3px;
            background-size: cover;
            &:hover {
                filter: brightness(85%);
            }
        }
    }
}