.bgc-aside-menu {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    .color-div {
        height: 80px;
        border-radius: 3px;
        // background-size: cover;
        &:hover {
            filter: brightness(85%);
        }
    }
    .colorChoice {
        border: 2px solid #fff;
    }
}