.board-header {
    // position: fixed;
    background-color: rgba(173, 170, 170, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    // padding: 8px 4px 4px 8px;

    .board-title-header {
        input {
            align-items: center;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            border-radius: 3px;
            color: #0f1012;
            font-size: 18px;
            font-weight: 700;
            // outline: 0;
            width: 70%;
            resize: none;
            height: 34px;
            // transition: min-height 0.6s, box-shadow 0.2s;
            overflow-x: hidden;
            overflow-y: hidden;
            padding: 5px 0 10px 12px;
            margin: 0 0 0 10px;
            &:focus {
                background-color: rgb(255, 255, 255);
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.538);
            }
        }
        :hover {
            background-color: rgba(255, 255, 255, 0.195);
        }
    }

    .header-members {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.5rem;
        span {
            font-size: 0.7rem;
        }
    }

    .add-btn {
        background-color: #0079bf;
        color: #fff;
        .user {
            font-family: fa-solid;
            &::before {
                content: '\f234';
            }
            button {
                justify-content: center;
            }
        }
    }
    .filter-btn {
        font-family: fa-solid;
        &::before {
            content: '\f0b0';
        }
        button {
            justify-content: center;
        }
    }

    .menu-btn {
        font-family: fa-solid;
        &::before {
            margin-right: 5px;
            font-size: 13px;
            content: '\f141';
        }
    }
    //     input {
    //         margin-left: 10px;
    //         // height: fit-content;
    //         // width: fit-content;
    //         background-color: rgba(255, 255, 255, 0.2);
    //         border: none;
    //         color: rgb(255, 255, 255);
    //     }
    //     .el-select-dropdown__item {
    //         background-color: rgb(67, 68, 71);
    //     }
    //     li {
    //         background-color: rgb(67, 68, 71);
    //     }
    //     .el-input__inner {
    //         padding: 0;
    //     }

    button {
        font-size: 18px;
        height: 32px;
        width: fit-content;
        border-radius: 3px;
        color: rgb(52, 50, 50);
        background-color: rgba(0, 0, 0, 0.1);
        overflow-x: none;
        outline: none;
        border: none;
        padding: 6px 5px;

        span {
            margin-left: 5px;
            font-size: 18px;
        }
        .dashboard-btn {
            padding: 0 0 0 2px;
            font-size: 18px;
        }
    }
}
