.board-details {
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-bottom: 6px;
    main {
        height: 100%;
        max-width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            width: 32px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            background-color: rgba(77, 77, 77, 0.295);
            border: solid 3px transparent;
            background-clip: content-box;
            border-radius: 6px;
            margin: 40px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(241, 241, 241, 0.432);
            border-radius: 6px;
            background-clip: content-box;
            border: solid 3px transparent;
        }
        // &:hover {
        //     background: #555;
        //     background-clip: content-box;
        //     border: solid 3px transparent;
        // }
        &::-webkit-scrollbar-track-piece {
            // background: rgba(136, 136, 136, 0.411)
        }
        .groups-container {
            display: flex;
            gap: 8px;
            &>section {
                border-radius: 3px;
                width: 270px;
            }
            .add-group-btn {
                background-color: rgb(255 255 255 / 24%);
                border: 0;
            }
            .add-group-btn-container {
                span {
                    font-weight: 600;
                }
                button {
                    border-radius: 3px;
                    text-align: left;
                    color: #fff;
                    // font-weight: 600;
                    width: 100%;
                    padding: 10px 12px;
                    &:hover {
                        background-color: rgb(255 255 255 / 32%);
                    }
                }
            }
            .group-add-container {
                border-radius: 3px;
                background-color: rgb(235 236 240);
                padding: 4px;
                display: flex;
                flex-direction: column;
                input {
                    padding: 8px 12px;
                    border: 2px solid #04649b;
                    border-radius: 3px;
                    margin-bottom: 4px;
                    outline: none;
                }
                .group-btns-container {
                    display: flex;
                    button {
                        border: 0;
                        background-color: transparent;
                        border-radius: 3px;
                        &:first-of-type {
                            color: #fff;
                            background-color: rgb(0 121 191);
                            padding: 6px 12px;
                            margin-right: 4px;
                            &:hover {
                                // filter: brightness(85%);
                                background-color: #04649b;
                            }
                        }
                        &:last-of-type {
                            color: rgb(94 108 132);
                            font-size: 24px;
                            font-weight: 600;
                            padding: 4px 4px;
                            &:hover {
                                color: rgb(66 82 110);
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(92 92 92 / 76%);
}

.smooth-dnd-ghost {
    z-index: 3000 !important;
    // box-shadow: none;
}

.smooth-dnd-draggable-wrapper {
    position: relative;
    // box-shadow: 0 1px 0 #091e4240;
    border-radius: 3px;
}

.dragging {
    transform: rotate(5deg);
    // box-shadow: none;
}