.board-preview {
    height: 80px;
    background-color: rgb(63, 63, 163);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    h4 {
        display: inline-block;
        align-self: flex-start;
    }
    span {
        align-self: flex-end;
        z-index: 1;
        &:hover {
            color: orange;
        }
    }
    .starred {
        color: orange;
    }
}