.board-header {
    cursor: pointer;
    font-weight: 700;
    background-color: rgba(173, 170, 170, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 8px;
    margin: 8px 8px 12px 8px;
    .move {
        margin-right: 200px;
    }
    .left-side-header {
        display: flex;
        align-items: center;
        .board-title-header {
            input {
                display: flex;
                align-items: center;
                padding: 5px 12px;
                margin-right: 4px;
                line-height: 1.375;
                // padding-left: 10px;
                // padding-right: 4px;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.261);
                border: none;
                border-radius: 3px;
                color: rgb(242, 240, 240);
                font-size: 16px;
                // width: 60%;
                font-weight: 700;
                &:focus {
                    color: black;
                    background-color: rgb(255, 255, 255);
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.538);
                }
            }
             :hover {
                background-color: rgba(255, 255, 255, 0.195);
            }
            //     .select {
            //         span {
            //             color: black;
            //             padding: 100px;
            //         }
            //     }
        }
        button {
            margin-right: 4px;
            border-radius: 3px;
            color: rgb(242, 240, 240);
            background-color: rgba(255, 255, 255, 0.2);
            border: rgba(255, 255, 255);
            span {
                margin-left: 2px;
                transform: rotate(180deg);
            }
        }
        .star-favorite {
            font-size: 16.4px;
            width: 32px;
            font-family: fa-regular;
            color: rgb(242, 240, 240);
            background-color: rgba(255, 255, 255, 0.2);
            padding: 6px 6px 8px;
            border-radius: 3px;
            margin-right: 8px;
            &::before {
                content: '\f005';
            }
            &:hover {
                color: #ffc41e;
            }
        }
        .starred {
            font-family: fa-solid;
            color: #ffc41e;
        }
        .members-container {
            display: flex;
            gap: 8px;
            button {
                padding: 10px;
                span {
                    font-size: 1rem;
                    margin: 0;
                }
            }
            .avatar-icon {
                display: flex;
            }
            .add-btn {
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: #f8fcff;
                color: rgb(16, 15, 15);
                font-weight: 400;
                border-radius: 3px;
                padding: 2px 6px;
                .user {
                    font-family: fa-solid;
                    &::before {
                        content: '\f234';
                    }
                    button {
                        justify-content: center;
                    }
                }
                 :hover {
                    background-color: #c1c3c4c1;
                }
            }
        }
    }
    .vl {
        border-left: 2px solid rgba(196, 196, 196, 0.604);
        height: 20px;
        margin-top: 5px;
    }
    .right-side-header {
        display: flex;
        .filter-btn {
            display: flex;
            // justify-content: stretch;
            border-radius: 3px;
            color: rgb(242, 240, 240);
            background-color: rgba(255, 255, 255, 0.2);
            padding: 6px 12px;
            margin-left: 8px;
            span {
                padding-right: 5px;
                font-size: 20px;
            }
        }
        .menu-btn {
            // display: flex;
            // align-items: center;
            // font-size: 16px;
            color: rgb(242, 240, 240);
            border-radius: 3px;
            color: rgb(242, 240, 240);
            background-color: rgba(255, 255, 255, 0.2);
            margin-left: 10px;
            padding: 0 12px 0 0;
            span {
                //     font-family: fa-solid;
                padding: 6px;
                font-size: 16px;
                //     &::before {
                //         margin-right: 5px;
                //         font-size: 10px;
                //         content: '\f141';
                //     }
            }
        }
    }
    button {
        font-size: 14px;
        height: 32px;
        width: fit-content;
        border-radius: 3px;
        color: rgb(242, 240, 240);
        background-color: rgba(255, 255, 255, 0.2);
        border: rgba(255, 255, 255);
        overflow-x: none;
        outline: none;
        border: none;
        padding: 6px 5px;
    }
}

// .select {
//     input {
//         align-items: center;
//         background-color: rgba(255, 255, 255, 0.261);
//         border: none;
//         color: rgb(242, 240, 240);
//         resize: none;
//         height: 34px;
//         padding: 5px 6px;
//         overflow-x: hidden;
//         overflow-y: hidden;
//     }
//     .el-select-dropdown__item {
//         background-color: rgb(67, 68, 71);
//     }
//     li {
//         background-color: rgb(67, 68, 71);
//     }
//     .el-input__inner {
//         padding: 0;
//     }
// }