.board-header {
    cursor: pointer;
    font-weight: 700;
    background-color: rgba(173, 170, 170, 0);
    display: flex;
    justify-content: space-between;
    @media (max-width: 665px) {
        gap: 6px;
        flex-direction: column;
    }
    align-items: center;
    height: auto;
    margin-top: 8px;
    margin: 8px 8px 12px 8px;
    .move {
        margin-right: 190px;
    }
    .left-side-header {
        @media (max-width: 665px) {
            align-self: flex-start;
        }
        @media (max-width: 470px) {
            gap: 6px;
            flex-direction: column;
        }
        display: flex;
        align-items: center;
        .left-and-members {
            display: flex;
        }
        .board-title-header {
            input {
                display: flex;
                align-items: center;
                padding: 5px 12px;
                margin-right: 4px;
                line-height: 1.375;
                // padding-left: 10px;
                // padding-right: 4px;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.366);
                border: none;
                border-radius: 3px;
                color: #fff;
                font-size: 16px;
                // width: 60%;
                font-weight: 700;
                &:focus {
                    color: black;
                    box-shadow: inset 0 0 0 2px #0079bf;
                    background-color: rgb(255, 255, 255);
                    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.538);
                }
            }
             :hover {
                background-color: rgba(255, 255, 255, 0.195);
            }
        }
        .star-favorite {
            font-size: 16.4px;
            width: 32px;
            height: 32px;
            font-family: fa-regular;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.366);
            padding: 6px 6px 8px;
            border-radius: 3px;
            margin-right: 8px;
            &::before {
                content: '\f005';
            }
            &:hover {
                color: #ffc41e;
            }
        }
        .starred {
            font-family: fa-solid;
            color: #ffc41e;
            font-size: 16px;
        }
        .members-container {
            @media (max-width: 470px) {
                align-self: flex-start;
            }
            display: flex;
            gap: 8px;
            button {
                padding: 10px;
                span {
                    font-size: 1rem;
                    margin: 0;
                }
            }
            .avatar-icon {
                display: flex;
            }
            .add-btn {
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: #f8fcff;
                color: rgb(16, 15, 15);
                font-weight: 400;
                border-radius: 3px;
                padding: 6px;
                font-size: 14px;
                font-weight: 600;
                .user {
                    font-family: fa-solid;
                    &::before {
                        content: '\f234';
                    }
                    button {
                        justify-content: center;
                    }
                }
                 :hover {
                    background-color: #c1c3c4c1;
                }
            }
        }
    }
    .vl {
        border-left: 1px solid rgba(252, 251, 251, 0.674);
        box-shadow: #f8fcff;
        height: 20px;
        margin-top: 5px;
    }
    .right-side-header {
        @media (max-width: 665px) {
            // justify-content: center;
            align-self: flex-end;
        }
        display: flex;
        .filter-btn {
            display: flex;
            border-radius: 3px;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.366);
            font-size: 16px;
            padding: 6px 12px;
            margin-left: 8px;
            span {
                padding-right: 5px;
                align-self: center;
                padding-top: 2px;
                font-size: 16px;
            }
        }
        .menu-btn {
            border-radius: 3px;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.366);
            font-size: 16px;
            margin-left: 10px;
            padding: 0 12px 0 0;
            span {
                padding: 6px;
                font-size: 16px;
            }
        }
    }
    button {
        font-size: 14px;
        height: 32px;
        width: fit-content;
        border-radius: 3px;
        color: #fff;
        border: rgba(255, 255, 255);
        overflow-x: none;
        outline: none;
        border: none;
        padding: 6px 5px;
    }
}

.left-side-btn {
    button {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.366);
        font-size: 16px;
        padding: 6px 12px;
        margin-left: 8px;
        margin-right: 4px;
        border-radius: 3px;
        .rote {
            transform: rotate(180deg);
            margin-right: 5px;
        }
        // }
    }
}

.left-menu {
    position: fixed;
    top: 100px;
    left: 10px;
    width: 250px;
    height: 120px;
    z-index: 30;
    background-color: #fff;
    padding: 10px;
    .left-btn {
        background-color: rgba(38, 38, 37, 0);
        font-weight: 600;
        display: flex;
        align-items: center;
        // font-size: 16px;
        height: 32px;
        color: #5e6c84;
        width: 100%;
        border-radius: 3px;
        padding: 6px 5px;
        margin-bottom: 5px;
    }
    span {
        font-size: 20px;
        margin-right: 10px;
    }
     :hover {
        background-color: rgba(230, 214, 214, 0.542);
    }
}

.available-users-container {
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    gap: 8px;
    &:hover {
        background-color: rgba(202, 202, 202, 0.404);
    }
    // flex-direction: column;
}

.mems-popover {
    span {
        &:nth-of-type(2) {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    display: flex;
    flex-direction: column;
}