.board-preview {
    height: 80px;
    background-size: cover;
    // background-color: #17177c;
    display: flex;
    color: #fff;
    border-radius: 3px;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    &:hover {
        filter: brightness(85%);
        transition: all 0.3s ease-in-out;
        span {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            margin-right: 0px;
        }
    }
    h4 {
        display: inline-block;
        align-self: flex-start;
    }
    span {
        // color: transparent;
        // -webkit-text-stroke: 1px #000;
        transition: all 0.3s ease-in-out;
        margin-right: -5px;
        opacity: 0;
        font-family: 'fa-regular';
        align-self: flex-end;
        z-index: 1;
        font-size: 12px;
        &::before {
            content: '\f005';
        }
        &:hover {
            color: orange;
        }
    }
    .starred {
        font-family: fa-solid;
        color: orange;
        opacity: 1;
        margin-right: 0px;
        // order: -1;
    }
}