.filter-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #172b4d;
    top: 90px;
    right: 5px;
    height: 725px;
    width: 385px;
    border-radius: 3px;
    padding: 8px 6px 12px 12px;
    z-index: 2;
    .move {
        margin-right: 190px;
    }
    // transition: all 0.4s;
    .filter-header {
        display: flex;
        z-index: 1;
        font-size: 13px;
        margin-left: 150px;
        justify-content: space-between;
        align-items: center;
        .header {
            display: flex;
        }
        .el-icon-close {
            display: flex;
            background-color: transparent;
            color: rgb(124, 123, 123);
            &:hover {
                color: black;
            }
        }
    }
    hr {
        background-color: #091e4221;
        border: 0;
        height: 1px;
        margin: 14px 0;
        &:first-of-type {
            margin: 12px;
            margin-top: 1px;
        }
    }
    .filter-content {
        height: 80vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
            padding: none;
        }
        &::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            background-color: rgb(224, 224, 224);
        }
        &::-webkit-scrollbar-thumb {
            background: #555;
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            // background-clip: content-box;
            border-left: none;
        }
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #555;
        // }
        &::-webkit-scrollbar-track-piece {
            background: rgba(167, 167, 167, 0);
        }
    }
    .search-filter-input {
        input {
            width: 90%;
            height: 36px;
            outline: none;
            border: none;
            color: #172b4d;
            font-weight: 400;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            border-radius: 3px;
            padding: 8px 12px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            width: 100%;
            margin-bottom: 0;
        }
    }
    p {
        color: #18191c;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .filter-members {
        display: flex;
        flex-direction: column;
        // align-items: center;
        label {
            .el-checkbox__label {
                line-height: 20px;
                color: #5e6c84;
                padding: 8px 0 8px 8px;
            }
        }
    }
    .filter-labels {
        display: flex;
        flex-direction: column;
        label {
            line-height: 20px;
            color: #fff;
            padding: 0px 0 0px 8px;
            font-weight: 700;
            .el-checkbox__label {
                .label {
                    display: flex;
                    height: 32px;
                    width: 320px;
                    border-radius: 3px;
                }
                .label1 {
                    background-color: #eb5a46;
                }
                .label2 {
                    background-color: #0079bf;
                }
                .label3 {
                    background-color: #ff9f1a;
                }
                .label4 {
                    background-color: #61bd4f;
                }
            }
        }
        .el-checkbox__input {
            margin-bottom: 20px;
        }
    }
    .el-checkbox__inner {
        display: flex;
        display: inline-block;
        position: relative;
        border: 1px solid #dcdfe6;
        border-radius: 2px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        z-index: 1;
        transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
            background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    }
}

.filter-menu-open {
    opacity: 1;
    margin-right: 0;
}

.filter-close {
    opacity: 0;
    margin-right: -400px;
}
