.board-details {
    height: calc(100vh - 44px + 52px);
    display: flex;
    flex-direction: column;
    background-color: rgb(140, 146, 147);
    main {
        height: 100%;
        .groups-container {
            overflow-x: auto;
            display: flex;
            gap: 8px;
        }
    }
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(92 92 92 / 76%);
}
