// Checklist:
.add-checklist-container {
    .add-checklist-btn {
        width: 72px;
        height: 32px;
        background-color: #0079bf;
        font-size: 14px;
        font-weight: 400;
        padding-top: 8px;
        margin-top: 10px;
        &:hover {
            background-color: #026aa7;
        }
    }
}
.add-checklist-header {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 3px;
    // margin-right: 20px;
    color: #5e6c84;
    font-weight: 600;
}
.task-checklists {
    margin-right: unset;
}
.task-activities {
    display: flex;
    flex-direction: column;
    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #172b4d;
        line-height: 1px;
    }
    .activity-toggle-btn {
        border: none;
        border-radius: 3px;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
        cursor: pointer;
        color: #172b4d;
        display: inline-block;
        line-height: 20px;
        padding: 6px 12px;
        position: relative;
    }
}
.window-modal-title {
    display: flex;
    align-items: center;
    min-height: 32px;
    margin: 0 0 4px 40px;
    padding: 8px 0;
    position: relative;
    justify-content: space-between;
    // gap: 380px;
    .svg {
        left: -40px;
        position: absolute;
        color: #42526e;
        height: 26px;
        width: 32px;
    }
}
.task-activities-header {
    display: flex;
    align-items: center;
}
.checklist-progress {
    margin-bottom: 6px;
    position: relative;
    .checklist-progress-percentage {
        color: #5e6c84;
        font-size: 11px;
        left: 0;
        line-height: 10px;
        position: absolute;
        text-align: center;
        top: -1px;
        width: 32px;
    }
    .checklist-progress-bar {
        background-color: rgba(9, 30, 66, 0.0784313725490196);
        border-radius: 4px;
        clear: both;
        height: 8px;
        margin: 0 0 0 40px;
        overflow: hidden;
        position: relative;
        .checklist-progress-bar-current {
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            transition-duration: 0.14s;
            transition-property: all;
            transition-timing-function: ease-in;
        }
    }
}
.todo-list {
    .todo-preview-container {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        clear: both;
        padding-left: 4px;
        position: relative;
        transform-origin: left bottom;
        transition-duration: 0.14s;
        transition-property: transform, opacity, height, padding, margin,
            -webkit-transform;
        transition-timing-function: ease-in;
        .todo-preview {
            float: left;
            width: 100%;
            svg {
                color: #dfe1e6;
                cursor: pointer;
                margin-right: 11px;
                height: 20px;
                width: 25px;
                transition-duration: 0.5s;
                transition-property: opacity, color;
                transition-timing-function: ease;
            }
        }
    }
}
.checklist-txt-and-btn {
    display: inline-flex;
    padding: 6px 0;
    width: 100%;
    span {
        align-self: center;
        flex: 1 1;
        margin-bottom: 0;
        min-height: 20px;
        cursor: pointer;
        overflow-wrap: break-word;
        word-break: break-word;
        text-decoration: none;
        color: #42526e;
        transition: all 0.5s ease;
    }
}
.todo-remove-icon {
    color: unset;
    display: none;
    transition: all 0.5s ease;
}
.checklist-btns {
    display: flex;
    align-items: center;
    margin-left: 37px;
    .nch-btn {
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        line-height: 20px;
        padding: 6px 12px;
        text-decoration: none;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;
    }
    .close-btn {
        margin-left: 7px;
    }
}
.todo-add-container {
    .todo-add-btn {
        margin-top: 8px;
        align-items: center;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
        border-radius: 3px;
        color: #172b4d;
        margin-left: 40px;
    }
}
.show {
    display: flex;
}
