.dash {
    .modal-background {
        height: 100vh;
        overflow: auto;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(92, 92, 92, 0.925);
    }
}

.dashboard-container {
    h1 {
        text-align: center;
        margin-top: 2%;
        font-family: monospace, Segoe UI;
        font-size: 3rem;
        color: #fff;
    }
    .close-dashboard-btn {
        position: absolute;
        top: 25px;
        right: 30px;
        transform: scale(3);
        font-family: fa-solid;
        border: none;
        background: none;
        color: #fff;
        &::before {
            content: '\f00d';
            opacity: 0.8;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.details-container {
    display: flex;
    justify-content: center;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 20%;
    margin: 25px 10px 0;
    padding: 10px;
    @media (max-width: 580px) {
        width: 25%;
    }
    @include for-mobile-layout {
        // max 460px
        width: 35%;
    }
    strong {
        color: #fff;
        font-size: 18px;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 50px;
    }
    p {
        color: #fff;
    }
}

.charts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 2px;
    @media (max-width: 1000px) {
        gap: 10px;
        margin-top: 30px;
    }
}

.chart {
    background-color: #2d2d2d;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 30%;
    height: 350px;
    margin: 30px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1000px) {
        height: 300px;
        width: 45%;
        margin: auto;
    }
    @media (max-width: 650px) {
        width: 60%;
    }
    @include for-mobile-layout {
        // max 460px
        width: 70%;
    }
    > * {
        @media (max-width: 1100px) {
            width: 800px;
            height: 800px;
        }
        @include for-mobile-layout {
            // max 460px
            width: 700px;
            height: 700px;
        }
    }
}
.chartjs-render-monitor {
    animation: none;
}
