.group-preview {
    display: flex;
    max-height: 78vh;
    overflow-y: hidden;
    flex-direction: column;
    background-color: rgb(235 236 240);
    border-radius: 3px;
    width: 270px;
    z-index: 3;
    .btn-group {
        border: 0;
        background-color: transparent;
        border-radius: 3px;
        color: rgb(107 119 140);
        padding: 6px;
        &:hover {
            color: rgb(23 43 77);
            background-color: rgb(9 30 66 / 8%);
        }
    }
    .group-header {
        position: relative;
        input {
            font-weight: 700;
            width: 100%;
            background-color: transparent;
            color: #172b4d;
            border: none;
            outline: none;
            border-radius: 3px;
            padding: 6px 6px;
            &:focus {
                background-color: rgb(255 255 255);
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }
        padding: 8px 8px;
        // margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    .group-actions-modal {
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
        // padding: 12px;
        position: absolute;
        background-color: #fff;
        border-radius: 3px;
        z-index: 5;
        // top: 22%;
        // right: 0;
        transform: translate(203%, 45%);
        display: flex;
        flex-direction: column;
        color: rgb(23, 43, 77);
        h4 {
            padding: 12px;
            text-align: center;
        }
        button {
            padding: 6px 12px;
            border: none;
            background-color: transparent;
            width: 100%;
        }
    }
    .tasks-container {
        cursor: grab;
        margin: 0 4px;
        padding: 0 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-bottom: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 8px;
            padding: none;
        }
        &::-webkit-scrollbar-track {
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            background-color: rgb(224, 224, 224);
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
            // box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
            border-radius: 1rem;
            // background-clip: content-box;
            border-left: none;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        &::-webkit-scrollbar-track-piece {
            background: rgba(167, 167, 167, 0);
        }
    }
    .add-task-section {
        color: rgb(107, 119, 140);
        margin: 0 4px;
        padding: 0 4px;
        padding-bottom: 8px;
        &>div {
            width: 100%;
        }
        .add-a-task {
            color: rgb(94 108 132);
            border-radius: 3px;
            margin-top: 2px;
            padding: 4px 8px;
            span {
                font-weight: 600;
            }
            &:hover {
                background-color: rgb(9 30 66 / 8%);
                color: rgb(23 43 77);
            }
        }
        .task-add-container {
            div {
                margin-top: 6px;
                display: flex;
            }
            textarea {
                padding: 6px 8px 2px;
                background-color: #fff;
                min-height: 66px;
                border-radius: 3px;
                box-shadow: 0 1px 0 #091e4240;
                width: 100%;
                border: 0;
                resize: none;
                &:focus {
                    outline: none;
                }
            }
            button {
                border: 0;
                background-color: transparent;
                border-radius: 3px;
                &:first-of-type {
                    color: #fff;
                    background-color: rgb(0 121 191);
                    padding: 6px 12px;
                    margin-right: 4px;
                    &:hover {
                        // filter: brightness(85%);
                        background-color: #04649b;
                    }
                }
                &:last-of-type {
                    color: rgb(94 108 132);
                    font-size: 24px;
                    font-weight: 600;
                    padding: 4px 4px;
                    &:hover {
                        color: rgb(66 82 110);
                    }
                }
            }
        }
    }
}

// .modal-background {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: rgb(92 92 92 / 76%);
// }
.smooth-dnd-ghost {
    z-index: 3000 !important;
    box-shadow: none;
    cursor: grabbing;
}

.smooth-dnd-container {
    overflow: visible;
    min-height: 4px;
    // cursor: grabbing;
}

.smooth-dnd-container.vertical>.smooth-dnd-draggable-wrapper {
    overflow: visible;
}

.smooth-dnd-draggable-wrapper {
    height: fit-content;
    position: relative;
    background-color: transparent;
    overflow-y: visible;
    // box-shadow: 0 1px 0 #091e4240;
    // border-radius: 3px;
}

.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotate(0deg);
}

.dragging {
    cursor: grabbing;
    box-shadow: none !important;
    transform: rotate(5deg);
}