.home {
    padding: 20px 80px;
    background-color: #fff;
    height: calc(100% - 44px);
    display: flex;
    justify-content: flex-end;
    .links {
        margin-top: 50px;
        h2 {
            padding: 6px 8px;
            text-align: center;
            border-radius: 3px;
            color: #fff;
            background-color: #026AA7;
            &:hover {
                background-color: #007fc9cc;
            }
            span {
                font-family: fa-solid;
                font-size: 16px;
                &::before {
                    content: '\f061';
                }
            }
        }
    }
    img {}
}