.home {
    font-family: ubuntu;
    padding: 20px 70px;
    background-color: #fff;
    height: calc(100% - 44px);
    &>div {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        letter-spacing: 0.3px;
        .link {
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
            }
            width: 350px;
            h2 {
                width: 150px;
                padding: 6px 8px;
                text-align: center;
                border-radius: 3px;
                color: #fff;
                background-color: #026AA7;
                &:hover {
                    background-color: #007fc9cc;
                }
                span {
                    font-family: fa-solid;
                    font-size: 16px;
                    &::before {
                        content: '\f061';
                    }
                }
            }
        }
    }
    img {
        height: 500px;
    }
}