.home {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 70px;
    @media (max-width: 1030px) {
        padding: 10px 30px;
    }
    @media (max-width: 470px) {
        padding: 10px 15px;
    }
    background-color: #fff;
    height: calc(100% - 44px);
    & > div {
        @media (max-width: 400px) {
            width: 250px;
            margin: 0 auto;
        }
        @media (max-width: 980px) {
            // gap: 12px;
            margin-top: 25px;
            flex-direction: column;
        }
        display: flex;
        justify-content: center;
        margin-top: 50px;
        letter-spacing: 0.3px;
        .link {
            margin: 0 auto;
            width: 350px;
            h1 {
                font-size: 25px;
                @media (max-width: 420px) {
                    font-size: 20px;
                }
            }
            p {
                font-size: 16px;
                @media (max-width: 420px) {
                    font-size: 14px;
                }
            }
            @media (max-width: 400px) {
                width: 250px;
            }
            a,
            button {
                @media (max-width: 980px) {
                    width: 100%;
                }
                border: 0;
                font-size: 21px;
                font-weight: 700;
                width: 150px;
                padding: 6px 8px;
                text-align: center;
                border-radius: 3px;
                color: #fff;
                background-color: #026aa7;
                &:hover {
                    background-color: #007fc9cc;
                }
                span {
                    font-family: fa-solid;
                    font-size: 16px;
                    &::before {
                        content: '\f061';
                    }
                }
            }
        }
    }
    img {
        @media (max-width: 1030px) {
            height: 310px;
            align-self: center;
        }
        @media (max-width: 560px) {
            height: 250px;
        }
        @media (max-width: 430px) {
            height: 225px;
        }
        height: 420px;
    }
}
