header.main-header {
    height: 10vh;
    background-color: #026aa7;
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        a {
            color: #fff;
        }
        .logo h1 {
            margin: 0
        }
    }
}