header.main-header {
    height: 44px;
    background-color: rgb(0 0 0 / 45%);
    width: 100%;
    .header-container {
        // position: fixed;
        max-height: 44px;
        padding: 6px 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        a {
            color: #fff;
        }
        .logo {
            display: flex;
            align-items: center;
            font-family: eurof55;
            font-size: 1.2rem;
            .logo-icon {
                font-family: fa-brands;
                font-size: 1.3rem;
                color: rgba(255, 255, 255, 0.878);
                margin-left: 20px;
                &::before {
                    content: '\f181';
                }
            }
            span {
                align-items: center;
                font-family: fa-solid;
                font-size: 1.4rem;
                padding: 6px 3px 0 4px;
            }
        }
        .right-side {
            display: flex;
            gap: 5px;
            .alert {
                font-family: fa-regular;
                font-size: 1.3rem;
                padding: 6px 6px;
                color: rgba(247, 245, 245, 0.899);
                border: none;
                background-color: rgba(240, 255, 255, 0);
                margin-left: 20px;
                &::before {
                    content: '\f0f3';
                }
            }
            .search-input {
                display: flex;

                input {
                    color: #fff;
                    height: 28px;
                    border: 1px solid rgba(223, 222, 222, 0.433);
                    font-weight: bold;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                .el-input {
                    padding-top: 5px;
                }
            }
        }
    }
}
