header.main-header {
    height: 44px;
    width: 100%;
    // background-color: #026aa7;
    background-color: #00000073;
    .header-container {
        // position: fixed;
        max-height: 44px;
        padding: 6px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        a {
            color: #fff;
        }
        .logo {
            display: flex;
            align-items: center;
            font-family: eurof55;
            font-size: 1.2rem;
            .logo-trellor {
                padding: 3px;
                &:hover {
                    border-radius: 3px;
                    background-color: rgb(255 255 255 / 20%);
                }
            }
            .logo-icon {
                font-family: fa-brands;
                font-size: 1.3rem;
                color: rgba(255, 255, 255, 0.878);
                display: inline-block;
                transform: rotate(90deg);
                // margin-left: 8px;
                &::before {
                    content: '\f181';
                }
            }
            span {
                align-items: center;
                font-family: fa-solid;
                font-size: 1.4rem;
                padding: 6px;
            }
            .grid-icon {
                &:hover {
                    border-radius: 3px;
                    background-color: rgb(255 255 255 / 20%);
                }
            }
        }
        .right-side {
            display: flex;
            align-items: center;
            gap: 5px;
            a {
                border-radius: 3px;
                background-color: rgb(255 255 255 / 26%);
                padding: 4px;
                &:hover {
                    background-color: rgb(255 255 255 / 20%);
                }
            }
            .alert {
                font-family: fa-regular;
                font-size: 1.3rem;
                padding: 6px 6px;
                color: rgba(247, 245, 245, 0.899);
                border: none;
                background-color: rgba(240, 255, 255, 0);
                margin-left: 20px;
                &::before {
                    content: '\f0f3';
                }
            }
            .search-input {
                @media (max-width: 520px) {
                    width: 100px;
                }
                display: flex;
                input {
                    @media (max-width: 520px) {
                        width: 100%;
                    }
                    color: #fff;
                    height: 32px;
                    border: 1px solid rgba(223, 222, 222, 0.433);
                    font-weight: bold;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                .el-input {
                    @media (max-width: 520px) {
                        // width: 70%;
                    }
                    padding-top: 4px;
                }
            }
        }
    }
}

.header-style {
    background-color: #026aa7;
}

.header-style-board {}

.el-icon-s-grid {
    margin-top: 4.2px;
}

.logout-btn {
    border-radius: 3px;
    border: 1px solid rgb(0 121 191);
    background-color: #fff;
    padding: 6px 12px;
    &:hover {
        color: rgb(0 121 191);
        background-color: rgba(255, 255, 255, 0.582);
        // background-color: rgba(241, 249, 253, 0.171);
        border: 1px solid rgb(0 121 191);
    }
}