header.main-header {
    background-color: #026aa7;
    .header-container {
        // position: fixed;
        max-height: 44px;
        padding: 6px 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        a {
            color: #fff;
        }
        .logo h1 {
            margin: 0;
        }
    }
}
