.task-preview {
    position: relative;
    overflow-x: hidden;
    padding: 6px 8px 2px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    color: rgb(23 43 77);
    .task-preview-content {
        .labels {
            height: fit-content;
            display: flex;
            // gap: 2px;
            .task-label {
                transition: all 0.5s;
                color: #fff;
                font-size: 12px;
                border-radius: 3px;
                line-height: 16px;
                font-weight: bold;
                min-width: 56px;
                padding: 0 8px;
                height: 16px;
                margin-right: 4px;
                margin-bottom: 4px;
            }
            .increaseLabel {
                transition: all 0.5s;
                padding: 0 8px;
                height: 16px;
                min-width: 56px;
                span {
                    opacity: 1;
                }
            }
            .shrinkLabel {
                transition: all 0.5s;
                padding: 0;
                width: 40px;
                min-width: 40px;
                height: 8px;
                span {
                    opacity: 0;
                }
            }
        }
        .edit-task-btn {
            display: none;
            position: absolute;
            right: 2px;
            top: 2px;
            font-family: fa-solid;
            // color: transparent;
            // -webkit-text-stroke: 1px #000;
            &::before {
                content: '\f304'
            }
        }
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 4px;
    }
}

.task-preview:hover {
    .edit-task-btn {
        display: block;
    }
    background-color: rgb(113 130 159 / 8%);
}


/* always present */

.expand-transition {
    transition: all .3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}


/* .expand-enter defines the starting state for entering */


/* .expand-leave defines the ending state for leaving */

.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}