.task-preview {
    position: relative;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0px -1px 0 #091e4240;
    // box-shadow: 0 1px 0 #091e4240;
    color: rgb(23 43 77);
    .cover-preview-container {
        // height: 50px;
        width: 100%;
        .cover-img-preview {
            pointer-events: none;
            width: 100%;
        }
        .cover-color-preview {
            height: 32px;
        }
    }
    .task-preview-content {
        padding: 6px 8px 2px;
        .labels {
            height: fit-content;
            display: flex;
            // gap: 2px;
            .task-label {
                transition: all 0.5s;
                color: #fff;
                font-size: 12px;
                border-radius: 3px;
                line-height: 16px;
                font-weight: bold;
                min-width: 56px;
                padding: 0 8px;
                height: 16px;
                margin-right: 4px;
                margin-bottom: 4px;
            }
            .increaseLabel {
                transition: all 0.5s;
                padding: 0 8px;
                height: 16px;
                min-width: 56px;
                span {
                    opacity: 1;
                }
            }
            .shrinkLabel {
                transition: all 0.5s;
                padding: 0;
                width: 40px;
                min-width: 40px;
                height: 8px;
                span {
                    opacity: 0;
                }
            }
        }
        .edit-task-btn {
            display: none;
            position: absolute;
            right: 2px;
            top: 2px;
            font-family: fa-solid;
            // color: transparent;
            // -webkit-text-stroke: 1px #000;
            &::before {
                content: '\f304';
            }
        }
        margin-bottom: 4px;
    }
    .task-title {
        margin: 0 0 4px;
    }
    .task-show-details {
        display: flex;
        justify-content: space-between;
        color: rgba(43, 42, 42, 0.508);
        display: flex;
        flex-direction: row;
        margin: 2px;
        .icons-section {
            display: flex;
            .task-description {
                padding: 2px;
                margin: 0 4px 4px 0;
                span {
                    align-items: center;
                    font-size: 20px;
                }
            }
            .comments {
                padding: 2px;
                margin: 0 4px 4px 0;
                .task-comments {
                    span {
                        padding-right: 3px;
                        align-items: center;
                        font-size: 15px;
                        font-family: fa-regular;
                        &::before {
                            content: '\f075';
                        }
                    }
                }
            }
            .task-attachment {
                padding: 2px;
                margin: 0 4px 4px 0;
                span {
                    padding-right: 3px;
                    &:first-of-type {
                        align-items: center;
                        font-size: 14px;
                        font-family: fa-solid;
                        &::before {
                            content: '\f0c6';
                        }
                    }
                }
            }
            .task-location {
                padding: 2px;
                margin: 0 4px 4px 0;
                span {
                    font-family: fa-solid;
                    padding-right: 3px;
                    align-items: center;
                    font-size: 15px;
                    &:before {
                        content: '\f3c5';
                    }
                }
            }
            .task-date {
                padding: 2px;
                margin: 0 4px 4px 0;
                & > span {
                    font-family: fa-regular;
                    padding-right: 3px;
                    align-items: center;
                    font-size: 15px;
                    &:before {
                        content: '\f017';
                    }
                }
            }
            .task-checklists {
                display: flex;
                margin: 0 4px 4px 0;
                padding: 2;
                p {
                    margin: 0;
                }
                span {
                    padding-right: 3px;
                    align-items: center;
                    font-size: 1.2rem;
                }
            }
        }
        .list-task-members {
            display: flex;
            float: right;
            margin: 0 -2px 0 0;
        }
    }
}

.task-preview:hover {
    .edit-task-btn {
        display: block;
    }
    background-color: rgb(113 130 159 / 8%);
}

.material-icons-outlined {
    font-size: 14px;
}

/* always present */

.expand-transition {
    transition: all 0.3s ease;
    height: 30px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}

/* .expand-enter defines the starting state for entering */

/* .expand-leave defines the ending state for leaving */

.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.501);
    opacity: 1;
    transition: opacity 0.2s ease-out;
    width: 100%;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
}

.show-task-modal {
    position: relative;
    z-index: 30;
    height: 100px;
    width: 100%;
    background-color: rgb(235, 238, 238);
    pointer-events: auto;
    overflow-y: hidden;
}

.save-edit-task {
    position: fixed;
    z-index: 30;
    transform: translate(-246px, 100px);
    font-size: 1.2rem;
    border-radius: 3px;
    margin-top: 8px;
    color: #fff;
    padding: 6px 12px;
    border: none;
    background-color: #0079bf;
    &:hover {
        background-color: rgb(2, 106, 167);
    }
}
.model-btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    transform: translate(260px, -120px);
    z-index: 30;
    button {
        font-size: 1.2rem;
        color: #fff;
        border-radius: 3px;
        margin-top: 8px;
        padding: 6px 12px;
        border: none;
        background-color: #1e1e1fa6;
    }
}

.open-edit-btn {
    &:hover {
        background: rgba(0, 0, 0, 0.8);
        margin-right: -15px;
    }
}
.remove-edit-btn {
    &:hover {
        background: rgba(0, 0, 0, 0.8);
        margin-right: -15px;
    }
}

.show-task-cover-modal {
    position: relative;
    z-index: 30;
    pointer-events: none;
}
.input-edit-task {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background-color: #ebeeee;
    font-size: 1.1rem;
}
