.workspace {
    background-color: #fff;
    height: calc(100vh - 44px);
    &>h4 {
        margin: 0;
        padding-top: 16px;
        padding-left: 32px;
    }
    .board-previews-container {
        padding: 32px;
        padding-top: 16px;
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }
    .add-board-btn {
        height: 80px;
        background-color: rgb(9 30 66 / 4%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(211, 211, 211, 0.5);
        }
    }
    .board-modal {
        border: 2px solid gray;
        height: 150px;
    }
    .modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(92 92 92 / 76%);
    }
    .add-board-modal {
        background-size: cover;
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgb(0 0 0 / 30%);
        border-radius: 3px;
        padding: 15px;
        text-align: center;
        position: fixed;
        width: 300px;
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
        border: 0.8px solid rgb(211 211 211);
        // border-radius: 0.5rem;
    }
    .starred-board {
        order: -1;
    }
}