.workspace {
    background-color: #fff;
    height: calc(100vh - 44px);
    .favorites {
        margin: 0;
        padding-top: 16px;
        padding-left: 32px;
    }
    .board-previews-container {
        padding: 32px;
        padding-top: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
    }
    .add-board-btn {
        height: 80px;
        background-color: rgb(9 30 66 / 4%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgba(211, 211, 211, 0.5);
        }
    }
    .board-modal {
        border: 2px solid gray;
        height: 150px;
    }
    .modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(92 92 92 / 76%);
    }
    .modal-container {
        position: fixed;
        background-color: transparent;
        width: 300px;
        z-index: 2;
        height: 60vh;
        top: 48px;
        left: 50%;
        transform: translateX(-50%);
        .add-board-modal {
            margin-bottom: 4px;
            background-size: cover;
            box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent,
                0 2px 15px rgb(0 0 0 / 30%);
            border-radius: 3px;
            padding: 15px;
            text-align: center;
            // position: fixed;
            width: 300px;
            z-index: 2;
            // border: 0.8px solid rgb(211 211 211);
            // border-radius: 0.5rem;
            input {
                width: 100%;
                padding: 2px 8px;
                color: #fff;
                font-size: 17px;
                &::placeholder {
                    color: #fff;
                    font-weight: bold;
                }
                background-color: transparent;
                border: none;
                outline: none;
                border-radius: 3px;
                margin-bottom: 8px;
                &:hover {
                    background: rgb(255 255 255 / 15%);
                }
            }
            .modal-board-btns {
                display: flex;
                justify-content: space-between;
            }
            button {
                border-radius: 3px;
                margin-top: 8px;
                color: #fff;
                padding: 6px 12px;
                border: none;
                background-color: #0079bf;
                &:hover {
                    background-color: rgb(2, 106, 167);
                }
                &:disabled {
                    cursor: not-allowed;
                    background-color: #f4f5f7;
                    color: #a5adba;
                }
            }
        }
    }
    .starred-board {
        order: -1;
    }
}
