.workspace {
    // display: grid;
    // grid-template-columns: $layoutPadding 1fr $layoutPadding;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        li {
            height: 80px;
            width: 120px;
            background-color: rgb(63, 63, 163);
        }
    }
}