.background-picker-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 248, 252);
    color: #172b4d;
    right: 0;
    top: 40px;
    height: 100vh;
    width: 330px;
    padding: 12px 6px 12px 12px;
    z-index: 1;
}

.aside-bgc-open {
    display: block;
}
.aside-bgc-close {
    display: none;
}
