* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
        Helvetica, sans-serif;
    //    line-height: 1.8;
}

body {
    width: max-content;
    min-width: 100%;
    // min-height: 100vh;
    margin: 0;
    overflow-y: hidden;
    // overflow-x: scroll;
    a {
        color: #0e1111;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

button {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
        Helvetica, sans-serif;
    cursor: pointer;
}
textarea {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
        Helvetica, sans-serif;
    cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// body {
//     margin: 0;
// }
// h1 {
//     font-size: rem(60px);
// }
// img {
//     width: 100%;
// }
// p {
//     margin: 0 0 1rem;
//     max-width: 60ch;
// }
