* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica, sans-serif;
    //    line-height: 1.8;
    font-size: 14px;
    min-height: 100vh;
    overflow-x: hidden;
    // &::-webkit-scrollbar {
    //     width: 32px;
    //     // background-color: transparent;
    //     // border-radius: 1rem;
    //     background-color: rgb(216, 216, 216);
    // }
    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
    //     // padding: 20px;
    //     // border: solid 4px transparent;
    //     // margin: 20px;
    //     border-radius: 1rem;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: #888;
    //     box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
    //     border-radius: 1rem;
    //     background-clip: content-box;
    //     border: solid 3px transparent;
    //     width: 12px;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    //     background-clip: content-box;
    //     border: solid 3px transparent;
    // }
    // &::-webkit-scrollbar-track-piece {
    //     // background: rgba(167, 167, 167, 0);
    // }
}

body {
    background-color: #026aa7;
    background-color: #fff;
    width: max-content;
    min-width: 100%;
    // height: 100vh;
    // min-height: 100%;
    margin: 0;
    // overflow-y: hidden;
    a {
        color: #0e1111;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

button {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica, sans-serif;
    cursor: pointer;
}

textarea {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica, sans-serif;
    cursor: pointer;
}

input {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica, sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}

.slide-up-enter-active {
    transition: all .2s ease;
}

.slide-up-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-up-enter,
.slide-fade-leave-to {
    transform: translateY(100vh);
    opacity: 0;
}

#app {
    height: 100vh;
    background-size: cover;
}

// body {
//     margin: 0;
// }
// h1 {
//     font-size: rem(60px);
// }
// img {
//     width: 100%;
// }
// p {
//     margin: 0 0 1rem;
//     max-width: 60ch;
// }