* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica, sans-serif;
    //    line-height: 1.8;
}

body {
    margin: 0;
    a {
        color: #fff;
        text-decoration: none;
    }
}

// body {
//     margin: 0;
// }
// h1, h2, h3, h4, h5, h6 {
//     font-family: GreatVibes;
//     font-weight: 500;
//     margin: 0 0 1rem;
// }
// h1 {
//     font-size: rem(60px);
// }
// img {
//     width: 100%;
// }
// p {
//     margin: 0 0 1rem;
//     max-width: 60ch;
// }