* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
        Helvetica, sans-serif;
    //    line-height: 1.8;
}

body {
    margin: 0;
    a {
        color: #0e1111;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

button {
    cursor: pointer;
}

// body {
//     margin: 0;
// }
// h1 {
//     font-size: rem(60px);
// }
// img {
//     width: 100%;
// }
// p {
//     margin: 0 0 1rem;
//     max-width: 60ch;
// }
