@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Segoe UI;
    src: url(~@/assets/fonts/SEGOEUI.TTF);
}

@font-face {
    font-family: Ubuntu;
    src: url(~@/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Noto Sans;
    src: url(~@/assets/fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: fa-brands;
    src: url(~@/assets/fonts/fa-brands-400.ttf);
}
@font-face {
    font-family: fa-regular;
    src: url(~@/assets/fonts/fa-regular-400.ttf);
}
@font-face {
    font-family: fa-solid;
    src: url(~@/assets/fonts/fa-solid-900.ttf);
}
@font-face {
    font-family: eurof55;
    src: url(~@/assets/fonts/eurof55.ttf);
}
