#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.main-header {
    background-color: antiquewhite;
}

.board-preview {
    background-color: beige;
}
.board-details {
    display: flex;
    background-color: rgb(186, 186, 183);
}
.group-preview {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(100, 149, 187);
}

.aside-menu {
    position: absolute;
    right: 10px;
}
